# COMPAS Dataset Analysis

In [9]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [10]:
df = pd.read_csv('../data/data_with_caucasian.csv')
df.head()

,Two_yr_Recidivism,Number_of_Priors,score_factor,Age_Above_FourtyFive,Age_Below_TwentyFive,Caucasian,African_American,Asian,Hispanic,Native_American,Other,Female,Misdemeanor
0,1,14,1,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,1,1
2,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,1,1
4,1,1,0,1,0,1,0,0,0,0,0,1,0

In [11]:
df.pop('score_factor')

0       1
1       0
2       0
3       0
4       0
       ..
6167    1
6168    0
6169    0
6170    0
6171    0
Name: score_factor, Length: 6172, dtype: int64

In [12]:
total = len(df)
male_df = df.loc[df['Female'] == 0]
total_male = len(male_df)
female_df = df.loc[df['Female'] == 1]
total_female = len(male_df)
print(total, total_male, total_female)
print(total_male, len(male_df.loc[male_df['Two_yr_Recidivism'] == 1]), len(male_df.loc[male_df['Two_yr_Recidivism'] == 0]))
print(total_female, len(female_df.loc[female_df['Two_yr_Recidivism'] == 1]), len(female_df.loc[female_df['Two_yr_Recidivism'] == 0]))

6172 4997 4997
4997 2396 2601
4997 413 762