# Analysis CC

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [47]:
df = pd.read_csv('../data/train_clean.csv')
#df2 = pd.read_csv('../data/test_clean.csv')
#df = pd.concat([df, df2])
df.head()

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
0,1,0,1,57.230650,36.050927,205168.022244,7600.292199,3.302193,0,3.015554,0,1,0,0,0,1,0,1
1,1,0,1,45.891343,59.525251,187530.409981,5534.271289,3.843058,0,5.938132,0,1,0,0,0,1,0,1
2,1,0,1,46.775489,67.338108,196912.006690,2009.903438,2.059034,0,2.190777,0,1,0,0,0,1,0,1
3,1,0,1,41.784839,24.067401,132911.650615,3112.280893,3.936169,0,1.725860,0,1,0,0,0,1,0,1
4,1,0,1,41.744838,47.496605,161162.551205,1372.077093,3.709910,0,0.883104,0,1,0,0,0,1,0,1

In [48]:
total = len(df)
df_male = df.loc[df['sex']==1]
total_male = len(df_male)
df_female = df.loc[df['sex']==0]
total_female = len(df_female)
print(total, total_male, total_female)

480000 240000 240000

In [49]:
df_male_def = df_male.loc[df_male['target'] == 1]
df_male_ndf = df_male.loc[df_male['target'] == 0]
print(total_male, len(df_male_def), len(df_male_ndf))

240000 119927 120073

In [50]:
df_male_min = df_male.loc[df_male['minority'] == 1]
df_male_maj = df_male.loc[df_male['minority'] == 0]
print(total_male, len(df_male_maj), len(df_male_min))

240000 120111 119889

In [51]:
df_male_min_def = df_male_min.loc[df_male_min['target'] == 1]
df_male_min_ndf = df_male_min.loc[df_male_min['target'] == 0]
print(len(df_male_min), len(df_male_min_def), len(df_male_min_ndf))

119889 119741 148

In [52]:
print('Total Entires', len(df))
print('Default', len(df.loc[df['target'] == 1]))
print('NO Default', len(df.loc[df['target'] == 0]))
print('#####')
print('Male', len(df.loc[df['sex'] == 1]))
print('Female', len(df.loc[df['sex'] == 0]))
print('Male Default', len(df.loc[(df['sex'] == 1) & (df['target'] == 1)]))
print('Female Default', len(df.loc[(df['sex'] == 0) & (df['target'] == 1)]))
print('#####')
print('Majority', len(df.loc[df['minority'] == 0]))
print('Minorities', len(df.loc[df['minority'] == 1]))
print('Majority Default', len(df.loc[(df['minority'] == 0) & (df['target'] == 1)]))
print('Minority Default', len(df.loc[(df['minority'] == 1) & (df['target'] == 1)]))

Total Entires 480000
Default 239927
NO Default 240073
#####
Male 240000
Female 240000
Male Default 119927
Female Default 120000
#####
Majority 240167
Minorities 239833
Majority Default 349
Minority Default 239578

In [53]:
# test
df_min = df.loc[df['minority'] == 1]
df_maj = df.loc[df['minority'] == 0]
print('Majority/Minority Split', total, len(df_maj), len(df_min))

df_min_def = df_min.loc[df_min['target'] == 1]
df_min_ndf = df_min.loc[df_min['target'] == 0]
print('Minorities default/no default', len(df_min), len(df_min_def), len(df_min_ndf))

df_maj_def = df_maj.loc[df_maj['target'] == 1]
df_maj_ndf = df_maj.loc[df_maj['target'] == 0]
print('Majorities default/no default', len(df_maj), len(df_maj_def), len(df_maj_ndf))
print('-----')

# maj * 687
# min * 939

Majority/Minority Split 480000 240167 239833
Minorities default/no default 239833 239578 255
Majorities default/no default 240167 349 239818
-----

In [54]:
# balancding maj/min
df_maj_tmp = pd.concat([df_maj_def]*686)
print(len(df_maj_tmp))

df_min_tmp = pd.concat([df_min_ndf]*939)
print(len(df_min_tmp))

239414
239445

In [55]:
df_maj = pd.concat([df_maj, df_maj_tmp])
df_min = pd.concat([df_min, df_min_tmp])

In [56]:

print('Majority/Minority Split', total, len(df_maj), len(df_min))

df_min_def = df_min.loc[df_min['target'] == 1]
df_min_ndf = df_min.loc[df_min['target'] == 0]
print('Minorities default/no default', len(df_min), len(df_min_def), len(df_min_ndf))

df_maj_def = df_maj.loc[df_maj['target'] == 1]
df_maj_ndf = df_maj.loc[df_maj['target'] == 0]
print('Majorities default/no default', len(df_maj), len(df_maj_def), len(df_maj_ndf))
print('-----')

# maj * 687
# min * 939

Majority/Minority Split 480000 479581 479278
Minorities default/no default 479278 239578 239700
Majorities default/no default 479581 239763 239818
-----

In [57]:
df_balanced = pd.concat([df_maj, df_min])

In [58]:
# export to csv
df_balanced.to_csv('../data/balanced_data_train.csv', index=False)