# Analysis CC

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [17]:
df = pd.read_csv('../data/train_clean.csv')
#df2 = pd.read_csv('../data/test_clean.csv')
#df = pd.concat([df, df2])
df.head()

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
0,1,0,1,57.230650,36.050927,205168.022244,7600.292199,3.302193,0,3.015554,0,1,0,0,0,1,0,1
1,1,0,1,45.891343,59.525251,187530.409981,5534.271289,3.843058,0,5.938132,0,1,0,0,0,1,0,1
2,1,0,1,46.775489,67.338108,196912.006690,2009.903438,2.059034,0,2.190777,0,1,0,0,0,1,0,1
3,1,0,1,41.784839,24.067401,132911.650615,3112.280893,3.936169,0,1.725860,0,1,0,0,0,1,0,1
4,1,0,1,41.744838,47.496605,161162.551205,1372.077093,3.709910,0,0.883104,0,1,0,0,0,1,0,1

In [18]:
# general split, default/not default
total = len(df)
did_def = len(df.loc[df['target'] == 1])
did_not_def = len(df.loc[df['target'] == 0])

print(total, did_def, did_not_def)

480000 239927 240073

In [19]:
print('Defaulted %', 100/total*did_def)

Defaulted % 49.98479166666667

In [20]:
# general gender split
male = len(df.loc[df['sex'] == 1])
female = len(df.loc[df['sex'] == 0])

print(total, male, female)
print('Male %', 100/total*male)

480000 240000 240000
Male % 50.0

In [21]:
df_male = df.loc[df['sex'] == 1]
df_female = df.loc[df['sex'] == 0]

## Male Analysis

In [22]:
total = len(df_male)
did_def = len(df_male.loc[df_male['target'] == 1])
did_not_def = len(df_male.loc[df_male['target'] == 0])

print(total, did_def, did_not_def)
print('Defaulted male %', 100/total*did_def)

240000 119927 120073
Defaulted male % 49.96958333333334

In [23]:
majority = df_male.loc[df_male['minority'] == 0]
minority = df_male.loc[df_male['minority'] == 1]

print('Races split')
print('majority', len(majority), 100/total*len(majority))
print('minority', len(minority), 100/total*len(minority))

Races split
majority 120111 50.04625
minority 119889 49.95375000000001

In [24]:
print('% of positive labels per race')
print('majority', len(majority.loc[majority['target'] == 1]), 100/total*len(majority.loc[majority['target'] == 1]))
print('minority', len(minority.loc[minority['target'] == 1]), 100/total*len(minority.loc[minority['target'] == 1]))

% of positive labels per race
majority 186 0.0775
minority 119741 49.89208333333334

## Female Analysis

In [25]:
total = len(df_female)
did_def = len(df_female.loc[df_female['target'] == 1])
did_not_def = len(df_female.loc[df_female['target'] == 0])

print(total, did_def, did_not_def)
print('Defaulted female %', 100/total*did_def)

240000 120000 120000
Defaulted female % 50.0

In [26]:
majority = df_female.loc[df_female['minority'] == 0]
minority = df_female.loc[df_female['minority'] == 1]

print('Races split')
print('majority', len(majority), 100/total*len(majority))
print('minority', len(minority), 100/total*len(minority))

Races split
majority 120056 50.02333333333333
minority 119944 49.97666666666667

In [27]:
print('% of positive labels per race')
print('majority', len(majority.loc[majority['target'] == 1]), 100/total*len(majority.loc[majority['target'] == 1]))
print('minority', len(minority.loc[minority['target'] == 1]), 100/total*len(minority.loc[minority['target'] == 1]))

% of positive labels per race
majority 163 0.06791666666666667
minority 119837 49.93208333333334