# Analysis CC

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [3]:
df = pd.read_csv('../data/train_clean.csv')
#df2 = pd.read_csv('../data/test_clean.csv')
#df = pd.concat([df, df2])
df.head()

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
0,1,0,1,57.230650,36.050927,205168.022244,7600.292199,3.302193,0,3.015554,0,1,0,0,0,1,0,1
1,1,0,1,45.891343,59.525251,187530.409981,5534.271289,3.843058,0,5.938132,0,1,0,0,0,1,0,1
2,1,0,1,46.775489,67.338108,196912.006690,2009.903438,2.059034,0,2.190777,0,1,0,0,0,1,0,1
3,1,0,1,41.784839,24.067401,132911.650615,3112.280893,3.936169,0,1.725860,0,1,0,0,0,1,0,1
4,1,0,1,41.744838,47.496605,161162.551205,1372.077093,3.709910,0,0.883104,0,1,0,0,0,1,0,1

In [4]:
print('Total Entires', len(df))
print('Default', len(df.loc[df['target'] == 1]))
print('NO Default', len(df.loc[df['target'] == 0]))
print('#####')
print('Male', len(df.loc[df['sex'] == 1]))
print('Female', len(df.loc[df['sex'] == 0]))
print('Male Default', len(df.loc[(df['sex'] == 1) & (df['target'] == 1)]))
print('Female Default', len(df.loc[(df['sex'] == 0) & (df['target'] == 1)]))
print('#####')
print('Majority', len(df.loc[df['minority'] == 0]))
print('Minorities', len(df.loc[df['minority'] == 1]))
print('Majority Default', len(df.loc[(df['minority'] == 0) & (df['target'] == 1)]))
print('Minority Default', len(df.loc[(df['minority'] == 1) & (df['target'] == 1)]))

Total Entires 480000
Default 239927
NO Default 240073
#####
Male 240000
Female 240000
Male Default 119927
Female Default 120000
#####
Majority 240167
Minorities 239833
Majority Default 349
Minority Default 239578

In [5]:
# general split, default/not default
total = len(df)
did_def = len(df.loc[df['target'] == 1])
did_not_def = len(df.loc[df['target'] == 0])

print(total, did_def, did_not_def)

480000 239927 240073

In [6]:
print('Defaulted %', 100/total*did_def)

Defaulted % 49.98479166666667

In [7]:
# general gender split
male = len(df.loc[df['sex'] == 1])
female = len(df.loc[df['sex'] == 0])

print(total, male, female)
print('Male %', 100/total*male)

480000 240000 240000
Male % 50.0

In [8]:
df_male = df.loc[df['sex'] == 1]
df_female = df.loc[df['sex'] == 0]

## Male Analysis

In [9]:
total = len(df_male)
did_def = len(df_male.loc[df_male['target'] == 1])
did_not_def = len(df_male.loc[df_male['target'] == 0])

print(total, did_def, did_not_def)
print('Defaulted male %', 100/total*did_def)

240000 119927 120073
Defaulted male % 49.96958333333334

In [10]:
majority = df_male.loc[df_male['minority'] == 0]
minority = df_male.loc[df_male['minority'] == 1]

print('Races split')
print('majority', len(majority), 100/total*len(majority))
print('minority', len(minority), 100/total*len(minority))

Races split
majority 120111 50.04625
minority 119889 49.95375000000001

In [11]:
print('% of positive labels per race')
print('majority', len(majority.loc[majority['target'] == 1]), 100/total*len(majority.loc[majority['target'] == 1]))
print('minority', len(minority.loc[minority['target'] == 1]), 100/total*len(minority.loc[minority['target'] == 1]))

% of positive labels per race
majority 186 0.0775
minority 119741 49.89208333333334

## Female Analysis

In [12]:
total = len(df_female)
did_def = len(df_female.loc[df_female['target'] == 1])
did_not_def = len(df_female.loc[df_female['target'] == 0])

print(total, did_def, did_not_def)
print('Defaulted female %', 100/total*did_def)

240000 120000 120000
Defaulted female % 50.0

In [13]:
majority = df_female.loc[df_female['minority'] == 0]
minority = df_female.loc[df_female['minority'] == 1]

print('Races split')
print('majority', len(majority), 100/total*len(majority))
print('minority', len(minority), 100/total*len(minority))

Races split
majority 120056 50.02333333333333
minority 119944 49.97666666666667

In [14]:
print('% of positive labels per race')
print('majority', len(majority.loc[majority['target'] == 1]), 100/total*len(majority.loc[majority['target'] == 1]))
print('minority', len(minority.loc[minority['target'] == 1]), 100/total*len(minority.loc[minority['target'] == 1]))

% of positive labels per race
majority 163 0.06791666666666667
minority 119837 49.93208333333334

In [15]:
sample_maj_f_0 = df[(df['minority'] == 0) & (df['sex'] == 0) & (df['target'] == 0)].sample(5)
sample_maj_f_1 = df[(df['minority'] == 0) & (df['sex'] == 0) & (df['target'] == 1)].sample(5)

sample_maj_m_0 = df[(df['minority'] == 0) & (df['sex'] == 1) & (df['target'] == 0)].sample(5)
sample_maj_m_1 = df[(df['minority'] == 0) & (df['sex'] == 1) & (df['target'] == 1)].sample(5)

In [16]:
sample_min_f_0 = df[(df['minority'] == 1) & (df['sex'] == 0) & (df['target'] == 0)].sample(5)
sample_min_f_1 = df[(df['minority'] == 1) & (df['sex'] == 0) & (df['target'] == 1)].sample(5)

sample_min_m_0 = df[(df['minority'] == 1) & (df['sex'] == 1) & (df['target'] == 0)].sample(5)
sample_min_m_1 = df[(df['minority'] == 1) & (df['sex'] == 1) & (df['target'] == 1)].sample(5)

In [17]:
sample_maj_f_0

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
422627,0,0,1,46.138323,31.758045,159553.059127,8559.978149,3.220337,22,82.615477,0,0,1,0,1,0,0,0
382825,0,0,0,45.042941,52.945370,178787.174004,60.475831,2.835970,17,82.738772,0,0,1,0,1,0,0,0
230545,0,0,0,58.160476,65.377659,243121.294540,3471.162585,3.721224,28,119.296518,0,0,1,0,1,0,0,0
14919,0,0,0,52.929770,56.761981,213776.286248,6366.036250,2.969153,1,92.453196,0,0,1,0,1,0,0,0
244380,0,0,0,44.444934,41.890128,166004.057646,3377.491196,2.671180,0,75.722802,1,0,0,0,1,0,0,0

In [18]:
sample_maj_f_1

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
424038,0,0,1,49.760339,67.817585,209830.466846,723.416085,2.511885,23,0.197366,0,1,0,0,1,0,0,1
410462,0,0,1,47.713025,44.998514,181625.806159,3927.085948,3.945048,21,1.503979,0,0,0,1,1,0,0,1
402291,0,0,1,42.766322,22.408519,132979.362345,4540.377597,3.322729,20,1.415462,0,0,0,1,1,0,0,1
26086,0,0,1,55.221227,39.658737,203231.303864,5378.735352,3.952627,3,0.786178,0,0,0,1,1,0,0,1
448818,0,0,0,53.615731,32.860182,187240.161277,7278.455126,2.712292,26,4.068630,0,1,0,0,1,0,0,1

In [19]:
sample_maj_m_0

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
47326,0,1,0,2.164845,46.638777,8318.270627,8591.373531,0.928454,5,95.942012,0,0,1,0,1,0,0,0
237989,0,1,0,4.242553,53.312233,16869.096068,5299.301163,3.599858,29,99.708919,1,0,0,0,1,0,0,0
335077,0,1,0,1.638102,24.165117,5217.207850,7873.940058,3.232533,11,109.157949,0,0,1,0,1,0,0,0
319169,0,1,0,3.839684,60.182885,15732.675526,257.873742,2.643688,9,96.647786,0,0,1,0,1,0,0,0
367852,0,1,0,2.980547,41.141065,11078.711530,106.132417,3.732087,15,108.592519,0,0,1,0,1,0,0,0

In [20]:
sample_maj_m_1

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
465602,0,1,1,2.928320,18.999211,8622.136536,3356.078871,3.905661,28,3.205876,0,1,0,0,1,0,0,1
353962,0,1,1,1.986543,30.153874,6766.787105,8043.856295,2.995401,14,6.306613,0,1,0,0,1,0,0,1
179649,0,1,1,2.151620,50.446629,8436.319722,7203.728919,3.431818,22,1.993902,0,0,0,1,1,0,0,1
449609,0,1,1,2.107799,50.695497,8274.876879,1621.119807,3.405753,26,4.305754,0,1,0,0,1,0,0,1
403573,0,1,1,0.746696,51.829461,2947.925815,8731.722065,3.525324,20,2.340764,0,0,0,1,1,0,0,1

In [21]:
sample_min_f_0

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
118616,1,0,0,55.280348,35.757428,197724.427341,6844.318297,3.171925,14,119.755286,0,0,1,0,0,1,0,0
150195,1,0,0,56.073187,36.791768,202159.209376,4873.612161,3.703670,18,101.883725,0,0,1,0,0,1,0,0
102127,1,0,0,51.215728,63.578345,212661.681676,9703.512921,3.980854,12,113.271641,0,0,1,0,0,1,0,0
164537,1,0,0,57.421026,37.537682,208171.045667,5890.923787,2.349167,20,81.268653,1,0,0,0,0,1,0,0
158207,1,0,0,54.079354,53.975226,215696.863656,7965.703257,1.396740,19,96.382217,0,0,1,0,0,1,0,0

In [22]:
sample_min_f_1

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
144660,1,0,1,56.627904,21.459377,173630.309814,4483.687089,3.959217,18,0.628364,0,1,0,0,0,1,0,1
264520,1,0,0,55.437825,41.223087,206173.185572,3723.340535,3.121225,3,1.260378,0,1,0,0,0,1,0,1
264211,1,0,1,48.903982,59.995792,200226.321591,9208.772021,3.201213,3,4.023071,0,1,0,0,0,1,0,1
210979,1,0,1,46.207488,50.678200,181387.302009,6869.924686,-0.588983,26,2.328415,0,0,0,1,0,1,0,1
184602,1,0,1,59.190770,34.214519,209100.280183,7009.455511,3.202205,23,2.448276,0,1,0,0,0,1,0,1

In [23]:
sample_min_m_0

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
1996,1,1,1,0.035914,43.691222,135.652789,8665.929973,3.483781,0,1.956747,0,1,0,0,0,0,1,0
197602,1,1,0,1.178438,41.741417,4397.333073,8698.927097,3.704142,24,81.486306,1,0,0,0,0,0,1,0
125987,1,1,0,2.891908,23.010100,9068.831285,7788.754000,3.551928,15,77.687664,1,0,0,0,0,0,1,0
209878,1,1,1,0.035597,53.144439,141.429067,7851.195146,2.692791,26,2.576258,0,1,0,0,0,0,1,0
169134,1,1,1,0.002336,22.880864,7.311613,9466.914572,3.360575,21,1.941544,0,1,0,0,0,0,1,0

In [24]:
sample_min_m_1

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
179305,1,1,1,1.123165,67.992698,4739.084014,8424.654052,3.689902,22,1.751957,0,0,0,1,0,0,1,1
163432,1,1,1,0.522488,63.931286,2172.403820,9815.480583,2.334838,20,0.475898,0,0,0,1,0,0,1,1
163667,1,1,1,1.371532,33.470108,4814.971135,5242.476125,3.826204,20,0.514001,0,0,0,1,0,0,1,1
25677,1,1,1,1.567676,66.327768,6575.786164,1374.550270,1.352672,3,1.081904,0,1,0,0,0,0,1,1
171501,1,1,1,0.725187,46.984788,2791.843104,8194.668271,3.435982,21,1.220030,0,0,0,1,0,0,1,1