# Analysis CC

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [43]:
df = pd.read_csv('../data/test_clean.csv')
#df2 = pd.read_csv('../data/test_clean.csv')
#df = pd.concat([df, df2])
df.head()

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
0,1,0,1,51.265723,25.710781,166455.209729,8064.951996,3.874735,30,43.764963,0,1,0,0,0,1,0,1
1,0,0,0,58.882849,39.689510,216752.885725,7166.701945,3.809001,30,46.903977,0,1,0,0,1,0,0,0
2,0,0,0,56.504545,25.847324,183764.480788,3322.045258,3.497214,30,63.453467,0,1,0,0,1,0,0,0
3,1,0,1,47.074111,26.381109,154057.004978,15.223904,3.535370,30,56.243840,0,1,0,0,0,1,0,0
4,1,0,1,48.916960,18.779902,143463.038107,7860.534547,3.663330,30,49.884194,0,1,0,0,0,1,0,0

In [44]:
total = len(df)
df_male = df.loc[df['sex']==1]
total_male = len(df_male)
df_female = df.loc[df['sex']==0]
total_female = len(df_female)
print(total, total_male, total_female)

160000 80000 80000

In [45]:
df_male_def = df_male.loc[df_male['target'] == 1]
df_male_ndf = df_male.loc[df_male['target'] == 0]
print(total_male, len(df_male_def), len(df_male_ndf))

80000 11948 68052

In [46]:
df_male_min = df_male.loc[df_male['minority'] == 1]
df_male_maj = df_male.loc[df_male['minority'] == 0]
print(total_male, len(df_male_maj), len(df_male_min))

80000 39786 40214

In [47]:
df_male_min_def = df_male_min.loc[df_male_min['target'] == 1]
df_male_min_ndf = df_male_min.loc[df_male_min['target'] == 0]
print(len(df_male_min), len(df_male_min_def), len(df_male_min_ndf))

40214 5978 34236

In [48]:
print('Total Entires', len(df))
print('Default', len(df.loc[df['target'] == 1]))
print('NO Default', len(df.loc[df['target'] == 0]))
print('#####')
print('Male', len(df.loc[df['sex'] == 1]))
print('Female', len(df.loc[df['sex'] == 0]))
print('Male Default', len(df.loc[(df['sex'] == 1) & (df['target'] == 1)]))
print('Female Default', len(df.loc[(df['sex'] == 0) & (df['target'] == 1)]))
print('#####')
print('Majority', len(df.loc[df['minority'] == 0]))
print('Minorities', len(df.loc[df['minority'] == 1]))
print('Majority Default', len(df.loc[(df['minority'] == 0) & (df['target'] == 1)]))
print('Minority Default', len(df.loc[(df['minority'] == 1) & (df['target'] == 1)]))

Total Entires 160000
Default 23945
NO Default 136055
#####
Male 80000
Female 80000
Male Default 11948
Female Default 11997
#####
Majority 79652
Minorities 80348
Majority Default 11869
Minority Default 12076

In [49]:
# test
df_min = df.loc[df['minority'] == 1]
df_maj = df.loc[df['minority'] == 0]
print('Majority/Minority Split', total, len(df_maj), len(df_min))

df_min_def = df_min.loc[df_min['target'] == 1]
df_min_ndf = df_min.loc[df_min['target'] == 0]
print('Minorities default/no default', len(df_min), len(df_min_def), len(df_min_ndf))

df_maj_def = df_maj.loc[df_maj['target'] == 1]
df_maj_ndf = df_maj.loc[df_maj['target'] == 0]
print('Majorities default/no default', len(df_maj), len(df_maj_def), len(df_maj_ndf))
print('-----')

# maj * 687
# min * 939

Majority/Minority Split 160000 79652 80348
Minorities default/no default 80348 12076 68272
Majorities default/no default 79652 11869 67783
-----

In [50]:
# balancding maj/min
df_maj_tmp = pd.concat([df_maj_def]*4)
print(len(df_maj_tmp))

df_min_tmp = pd.concat([df_min_def]*4)
print(len(df_min_tmp))

47476
48304

In [51]:
df_maj = pd.concat([df_maj, df_maj_tmp])
df_min = pd.concat([df_min, df_min_tmp])

In [52]:

print('Majority/Minority Split', total, len(df_maj), len(df_min))

df_min_def = df_min.loc[df_min['target'] == 1]
df_min_ndf = df_min.loc[df_min['target'] == 0]
print('Minorities default/no default', len(df_min), len(df_min_def), len(df_min_ndf))

df_maj_def = df_maj.loc[df_maj['target'] == 1]
df_maj_ndf = df_maj.loc[df_maj['target'] == 0]
print('Majorities default/no default', len(df_maj), len(df_maj_def), len(df_maj_ndf))
print('-----')

Majority/Minority Split 160000 127128 128652
Minorities default/no default 128652 60380 68272
Majorities default/no default 127128 59345 67783
-----

In [53]:
df_balanced = pd.concat([df_maj, df_min])

In [54]:
# export to csv
df_balanced.to_csv('../data/balanced_data_test.csv', index=False)