# Analysis CC

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
df = pd.read_csv('../data/train_clean.csv')
#df2 = pd.read_csv('../data/test_clean.csv')
#df = pd.concat([df, df2])
df.head()

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
0,1,0,1,57.230650,36.050927,205168.022244,7600.292199,3.302193,0,3.015554,0,1,0,0,0,1,0,1
1,1,0,1,45.891343,59.525251,187530.409981,5534.271289,3.843058,0,5.938132,0,1,0,0,0,1,0,1
2,1,0,1,46.775489,67.338108,196912.006690,2009.903438,2.059034,0,2.190777,0,1,0,0,0,1,0,1
3,1,0,1,41.784839,24.067401,132911.650615,3112.280893,3.936169,0,1.725860,0,1,0,0,0,1,0,1
4,1,0,1,41.744838,47.496605,161162.551205,1372.077093,3.709910,0,0.883104,0,1,0,0,0,1,0,1

In [3]:
len(df)

480000

In [4]:
print('Total Entires', len(df))
print('Default', len(df.loc[df['target'] == 1]))
print('NO Default', len(df.loc[df['target'] == 0]))
print('#####')
print('Male', len(df.loc[df['sex'] == 1]))
print('Female', len(df.loc[df['sex'] == 0]))
print('Male Default', len(df.loc[(df['sex'] == 1) & (df['target'] == 1)]))
print('Female Default', len(df.loc[(df['sex'] == 0) & (df['target'] == 1)]))
print('#####')
print('Majority', len(df.loc[df['minority'] == 0]))
print('Minorities', len(df.loc[df['minority'] == 1]))
print('Majority Default', len(df.loc[(df['minority'] == 0) & (df['target'] == 1)]))
print('Majority no Default', len(df.loc[(df['minority'] == 0) & (df['target'] == 0)]))
print('Minority Default', len(df.loc[(df['minority'] == 1) & (df['target'] == 1)]))
print('Minority no Default', len(df.loc[(df['minority'] == 1) & (df['target'] == 0)]))

Total Entires 480000
Default 239927
NO Default 240073
#####
Male 240000
Female 240000
Male Default 119927
Female Default 120000
#####
Majority 240167
Minorities 239833
Majority Default 349
Majority no Default 239818
Minority Default 239578
Minority no Default 255

In [5]:
# general split, default/not default
total = len(df)
did_def = len(df.loc[df['target'] == 1])
did_not_def = len(df.loc[df['target'] == 0])

print(total, did_def, did_not_def)

480000 239927 240073

In [6]:
print('Defaulted %', 100/total*did_def)

Defaulted % 49.98479166666667

In [7]:
# general gender split
male = len(df.loc[df['sex'] == 1])
female = len(df.loc[df['sex'] == 0])

print(total, male, female)
print('Male %', 100/total*male)

480000 240000 240000
Male % 50.0

In [8]:
df_male = df.loc[df['sex'] == 1]
df_female = df.loc[df['sex'] == 0]

## Male Analysis

In [9]:
total = len(df_male)
did_def = len(df_male.loc[df_male['target'] == 1])
did_not_def = len(df_male.loc[df_male['target'] == 0])

print(total, did_def, did_not_def)
print('Defaulted male %', 100/total*did_def)

240000 119927 120073
Defaulted male % 49.96958333333334

In [10]:
majority = df_male.loc[df_male['minority'] == 0]
minority = df_male.loc[df_male['minority'] == 1]

print('Races split')
print('majority', len(majority), 100/total*len(majority))
print('minority', len(minority), 100/total*len(minority))

Races split
majority 120111 50.04625
minority 119889 49.95375000000001

In [11]:
print('% of positive labels per race')
print('majority', len(majority.loc[majority['target'] == 1]), 100/total*len(majority.loc[majority['target'] == 1]))
print('minority', len(minority.loc[minority['target'] == 1]), 100/total*len(minority.loc[minority['target'] == 1]))

% of positive labels per race
majority 186 0.0775
minority 119741 49.89208333333334

## Female Analysis

In [12]:
total = len(df_female)
did_def = len(df_female.loc[df_female['target'] == 1])
did_not_def = len(df_female.loc[df_female['target'] == 0])

print(total, did_def, did_not_def)
print('Defaulted female %', 100/total*did_def)

240000 120000 120000
Defaulted female % 50.0

In [13]:
majority = df_female.loc[df_female['minority'] == 0]
minority = df_female.loc[df_female['minority'] == 1]

print('Races split')
print('majority', len(majority), 100/total*len(majority))
print('minority', len(minority), 100/total*len(minority))

Races split
majority 120056 50.02333333333333
minority 119944 49.97666666666667

In [14]:
print('% of positive labels per race')
print('majority', len(majority.loc[majority['target'] == 1]), 100/total*len(majority.loc[majority['target'] == 1]))
print('minority', len(minority.loc[minority['target'] == 1]), 100/total*len(minority.loc[minority['target'] == 1]))

% of positive labels per race
majority 163 0.06791666666666667
minority 119837 49.93208333333334

In [15]:
sample_maj_f_0 = df[(df['minority'] == 0) & (df['sex'] == 0) & (df['target'] == 0)].sample(5)
sample_maj_f_1 = df[(df['minority'] == 0) & (df['sex'] == 0) & (df['target'] == 1)].sample(5)

sample_maj_m_0 = df[(df['minority'] == 0) & (df['sex'] == 1) & (df['target'] == 0)].sample(5)
sample_maj_m_1 = df[(df['minority'] == 0) & (df['sex'] == 1) & (df['target'] == 1)].sample(5)

In [16]:
sample_min_f_0 = df[(df['minority'] == 1) & (df['sex'] == 0) & (df['target'] == 0)].sample(5)
sample_min_f_1 = df[(df['minority'] == 1) & (df['sex'] == 0) & (df['target'] == 1)].sample(5)

sample_min_m_0 = df[(df['minority'] == 1) & (df['sex'] == 1) & (df['target'] == 0)].sample(5)
sample_min_m_1 = df[(df['minority'] == 1) & (df['sex'] == 1) & (df['target'] == 1)].sample(5)

In [17]:
sample_maj_f_0

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
28393,0,0,0,42.299986,52.283851,167367.829790,9208.398391,1.442961,3,86.416338,1,0,0,0,1,0,0,0
68068,0,0,1,50.359221,56.028620,202739.306287,8493.185899,3.933882,8,80.748107,1,0,0,0,1,0,0,0
20962,0,0,0,40.886379,30.881067,140246.138239,2333.067890,2.478423,2,76.708118,1,0,0,0,1,0,0,0
100687,0,0,1,41.730957,47.033914,160700.444121,3901.595758,2.582367,12,76.083281,1,0,0,0,1,0,0,0
292373,0,0,0,52.181010,41.727289,194695.454738,6444.029621,3.657337,6,107.621514,1,0,0,0,1,0,0,0

In [18]:
sample_maj_f_1

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
472801,0,0,1,48.505613,25.747328,157562.279810,6190.404042,3.413200,29,1.053664,0,1,0,0,1,0,0,1
48774,0,0,1,43.791026,27.529494,145178.547493,8587.529345,3.821719,6,4.511657,0,1,0,0,1,0,0,1
464251,0,0,1,53.464835,28.018410,178190.904843,1738.839580,3.024336,28,6.361822,0,1,0,0,1,0,0,1
234645,0,0,0,51.084601,51.790384,201641.365770,8836.416529,3.935320,29,1.668401,0,0,0,1,1,0,0,1
200257,0,0,1,54.342559,27.564819,180229.283954,6829.490631,2.258698,25,2.134125,0,1,0,0,1,0,0,1

In [19]:
sample_maj_m_0

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
215591,0,1,0,2.755931,58.859256,11230.830665,4809.192623,3.001818,26,104.649787,0,0,1,0,1,0,0,0
253174,0,1,0,0.615839,67.237939,2591.595616,9650.738699,3.793529,1,90.843871,1,0,0,0,1,0,0,0
31963,0,1,0,1.607269,40.469615,5947.780002,1690.505567,2.988614,3,89.117604,0,0,1,0,1,0,0,0
279803,0,1,0,8.743682,61.519555,36018.329250,9475.663946,3.754400,4,103.320269,0,0,1,0,1,0,0,0
271734,0,1,0,0.074870,35.932701,268.158643,3835.974503,3.897916,3,93.209395,0,0,1,0,1,0,0,0

In [20]:
sample_maj_m_1

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
145036,0,1,0,0.519663,28.350003,1738.078993,3149.826800,2.668147,18,1.495414,0,1,0,0,1,0,0,1
467980,0,1,1,0.799193,40.321132,2954.517325,660.624678,3.046627,28,2.548144,0,0,0,1,1,0,0,1
217650,0,1,1,3.074016,40.621922,11387.100007,4867.484960,0.665688,27,1.440837,0,1,0,0,1,0,0,1
219556,0,1,1,2.398939,63.065428,9941.616520,7304.183924,1.532043,27,1.505504,0,0,0,1,1,0,0,1
465876,0,1,1,0.547739,63.416518,2272.965094,9234.943165,3.413723,28,0.475632,0,1,0,0,1,0,0,1

In [21]:
sample_min_f_0

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
140871,1,0,0,47.402936,64.912540,197814.386873,7541.309338,2.973735,17,87.397642,1,0,0,0,0,1,0,0
102584,1,0,0,55.108314,62.075155,227506.176724,2346.741069,3.666627,12,117.563421,0,0,1,0,0,1,0,0
220752,1,0,0,38.219152,66.925622,160657.334965,9836.152627,2.220443,27,92.628454,1,0,0,0,0,1,0,0
220512,1,0,0,49.925626,48.369448,193654.933268,1315.362942,3.250089,27,93.213868,1,0,0,0,0,1,0,0
156293,1,0,0,55.189351,18.498826,161026.370849,3124.182338,2.728545,19,75.039978,1,0,0,0,0,1,0,0

In [22]:
sample_min_f_1

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
314537,1,0,1,43.278486,47.644561,167218.048451,2081.247131,2.070332,9,0.020067,0,0,0,1,0,1,0,1
32937,1,0,1,43.616598,67.657411,183820.272088,4809.495556,3.786963,4,1.256276,0,1,0,0,0,1,0,1
256132,1,0,1,60.955692,55.811337,245162.392901,1805.086999,3.844759,2,1.375355,0,1,0,0,0,1,0,1
296150,1,0,1,57.736941,28.497897,193408.955306,4704.647924,3.567199,7,1.759348,0,1,0,0,0,1,0,1
208805,1,0,1,60.045127,41.098575,223126.098782,6540.299899,3.417166,26,0.837293,0,1,0,0,0,1,0,1

In [23]:
sample_min_m_0

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
21114,1,1,0,0.463693,38.967019,1698.375755,4442.607378,2.976688,2,82.587566,1,0,0,0,0,0,1,0
229708,1,1,0,2.273128,29.384498,7684.233428,3185.640491,3.204615,28,80.705474,1,0,0,0,0,0,1,0
1873,1,1,1,0.036685,67.924707,154.751529,9760.913489,3.974226,0,1.468664,0,1,0,0,0,0,1,0
19484,1,1,0,0.025215,19.204906,74.514625,8197.988748,3.801730,2,0.368245,0,0,0,1,0,0,1,0
99600,1,1,1,0.057553,52.590773,228.056678,9807.149306,-0.186905,12,5.797323,0,0,0,1,0,0,1,0

In [24]:
sample_min_m_1

,minority,sex,rent,education,age,income,loan_size,payment_timing,year,job_stability,zip0,zip1,zip2,zip3,occupation0,occupation1,occupation2,target
299140,1,1,1,1.421009,33.787088,5002.061986,3177.524840,3.147332,7,0.674440,0,0,0,1,0,0,1,1
363805,1,1,1,1.742291,53.214248,6924.433167,3568.635372,3.530484,15,1.912212,0,0,0,1,0,0,1,1
395278,1,1,1,5.432245,22.716976,16965.511376,7231.392295,3.858256,19,1.958986,0,0,0,1,0,0,1,1
345128,1,1,1,1.534119,55.593355,6164.186377,1445.072650,3.877951,13,3.478078,0,1,0,0,0,0,1,1
473518,1,1,0,0.456753,22.296025,1417.948816,8904.769913,3.036858,29,2.088447,0,1,0,0,0,0,1,1