In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('./data/compas-scores-raw.csv')

df.head()

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,7,Risk of Violence,-2.08,4,Low,New,1,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,18,Risk of Failure to Appear,15.00,1,Low,New,1,0
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,Male,Caucasian,09/16/84,...,1,Low,7,Risk of Violence,-2.84,2,Low,New,1,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,Male,Caucasian,09/16/84,...,1,Low,8,Risk of Recidivism,-1.50,1,Low,New,1,0

In [18]:
df = df.drop('Person_ID', axis=1)
df = df.drop('AssessmentID', axis=1)
df = df.drop('Case_ID', axis=1)
df = df.drop('Agency_Text', axis=1)
df = df.drop('LastName', axis=1)
df = df.drop('FirstName', axis=1)
df = df.drop('MiddleName', axis=1)
df = df.drop('ScaleSet_ID', axis=1)

df.head()

,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,ScaleSet,AssessmentReason,Language,LegalStatus,CustodyStatus,MaritalStatus,Screening_Date,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
0,Male,Caucasian,12/05/92,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,7,Risk of Violence,-2.08,4,Low,New,1,0
1,Male,Caucasian,12/05/92,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0
2,Male,Caucasian,12/05/92,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,18,Risk of Failure to Appear,15.00,1,Low,New,1,0
3,Male,Caucasian,09/16/84,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Married,1/1/13 0:00,1,Low,7,Risk of Violence,-2.84,2,Low,New,1,0
4,Male,Caucasian,09/16/84,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Married,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.50,1,Low,New,1,0

In [19]:
df['Sex_Code_Text'].unique()
sex = pd.get_dummies(df['Sex_Code_Text'])
df = pd.concat([df, sex], axis=1)
df = df.drop('Sex_Code_Text', axis=1)
df = df.drop('Female', axis=1)

df.head()

,Ethnic_Code_Text,DateOfBirth,ScaleSet,AssessmentReason,Language,LegalStatus,CustodyStatus,MaritalStatus,Screening_Date,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted,Male
0,Caucasian,12/05/92,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,7,Risk of Violence,-2.08,4,Low,New,1,0,1
1,Caucasian,12/05/92,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0,1
2,Caucasian,12/05/92,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,18,Risk of Failure to Appear,15.00,1,Low,New,1,0,1
3,Caucasian,09/16/84,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Married,1/1/13 0:00,1,Low,7,Risk of Violence,-2.84,2,Low,New,1,0,1
4,Caucasian,09/16/84,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Married,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.50,1,Low,New,1,0,1

In [20]:
df['Ethnic_Code_Text'].unique()
sex = pd.get_dummies(df['Ethnic_Code_Text'])
df = pd.concat([df, sex], axis=1)
df = df.drop('Ethnic_Code_Text', axis=1)

df.head()

,DateOfBirth,ScaleSet,AssessmentReason,Language,LegalStatus,CustodyStatus,MaritalStatus,Screening_Date,RecSupervisionLevel,RecSupervisionLevelText,...,Male,African-Am,African-American,Arabic,Asian,Caucasian,Hispanic,Native American,Oriental,Other
0,12/05/92,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,...,1,0,0,0,0,1,0,0,0,0
1,12/05/92,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,...,1,0,0,0,0,1,0,0,0,0
2,12/05/92,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,...,1,0,0,0,0,1,0,0,0,0
3,09/16/84,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Married,1/1/13 0:00,1,Low,...,1,0,0,0,0,1,0,0,0,0
4,09/16/84,Risk and Prescreen,Intake,English,Pretrial,Jail Inmate,Married,1/1/13 0:00,1,Low,...,1,0,0,0,0,1,0,0,0,0

In [21]:
df['Language'].unique()
lang = pd.get_dummies(df['Language'])
df = pd.concat([df,lang], axis=1)
df = df.drop('Language', axis=1)

In [22]:
df = df.drop('ScaleSet', axis=1)
df = df.drop('AssessmentReason', axis=1)

df.head()

,DateOfBirth,LegalStatus,CustodyStatus,MaritalStatus,Screening_Date,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,...,African-American,Arabic,Asian,Caucasian,Hispanic,Native American,Oriental,Other,English,Spanish
0,12/05/92,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,7,Risk of Violence,-2.08,...,0,0,0,1,0,0,0,0,1,0
1,12/05/92,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.06,...,0,0,0,1,0,0,0,0,1,0
2,12/05/92,Pretrial,Jail Inmate,Single,1/1/13 0:00,1,Low,18,Risk of Failure to Appear,15.00,...,0,0,0,1,0,0,0,0,1,0
3,09/16/84,Pretrial,Jail Inmate,Married,1/1/13 0:00,1,Low,7,Risk of Violence,-2.84,...,0,0,0,1,0,0,0,0,1,0
4,09/16/84,Pretrial,Jail Inmate,Married,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.50,...,0,0,0,1,0,0,0,0,1,0

In [23]:
df['LegalStatus'].unique()
legal = pd.get_dummies(df['LegalStatus'])
df = pd.concat([df,legal], axis=1)
df = df.drop('LegalStatus', axis=1)

df.head()

,DateOfBirth,CustodyStatus,MaritalStatus,Screening_Date,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,...,Other,English,Spanish,Conditional Release,Deferred Sentencing,Other,Parole Violator,Post Sentence,Pretrial,Probation Violator
0,12/05/92,Jail Inmate,Single,1/1/13 0:00,1,Low,7,Risk of Violence,-2.08,4,...,0,1,0,0,0,0,0,0,1,0
1,12/05/92,Jail Inmate,Single,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.06,2,...,0,1,0,0,0,0,0,0,1,0
2,12/05/92,Jail Inmate,Single,1/1/13 0:00,1,Low,18,Risk of Failure to Appear,15.00,1,...,0,1,0,0,0,0,0,0,1,0
3,09/16/84,Jail Inmate,Married,1/1/13 0:00,1,Low,7,Risk of Violence,-2.84,2,...,0,1,0,0,0,0,0,0,1,0
4,09/16/84,Jail Inmate,Married,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.50,1,...,0,1,0,0,0,0,0,0,1,0

In [24]:
df['CustodyStatus'].unique()
custody = pd.get_dummies(df['CustodyStatus'])
df = pd.concat([df,custody], axis=1)
df = df.drop('CustodyStatus', axis=1)

df.head()

,DateOfBirth,MaritalStatus,Screening_Date,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,...,Parole Violator,Post Sentence,Pretrial,Probation Violator,Jail Inmate,Parole,Pretrial Defendant,Prison Inmate,Probation,Residential Program
0,12/05/92,Single,1/1/13 0:00,1,Low,7,Risk of Violence,-2.08,4,Low,...,0,0,1,0,1,0,0,0,0,0
1,12/05/92,Single,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.06,2,Low,...,0,0,1,0,1,0,0,0,0,0
2,12/05/92,Single,1/1/13 0:00,1,Low,18,Risk of Failure to Appear,15.00,1,Low,...,0,0,1,0,1,0,0,0,0,0
3,09/16/84,Married,1/1/13 0:00,1,Low,7,Risk of Violence,-2.84,2,Low,...,0,0,1,0,1,0,0,0,0,0
4,09/16/84,Married,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.50,1,Low,...,0,0,1,0,1,0,0,0,0,0

In [25]:
df['MaritalStatus'].unique()
marital = pd.get_dummies(df['MaritalStatus'])
df = pd.concat([df,marital], axis=1)
df = df.drop('MaritalStatus', axis=1)

df.head()

,DateOfBirth,Screening_Date,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,...,Prison Inmate,Probation,Residential Program,Divorced,Married,Separated,Significant Other,Single,Unknown,Widowed
0,12/05/92,1/1/13 0:00,1,Low,7,Risk of Violence,-2.08,4,Low,New,...,0,0,0,0,0,0,0,1,0,0
1,12/05/92,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,...,0,0,0,0,0,0,0,1,0,0
2,12/05/92,1/1/13 0:00,1,Low,18,Risk of Failure to Appear,15.00,1,Low,New,...,0,0,0,0,0,0,0,1,0,0
3,09/16/84,1/1/13 0:00,1,Low,7,Risk of Violence,-2.84,2,Low,New,...,0,0,0,0,1,0,0,0,0,0
4,09/16/84,1/1/13 0:00,1,Low,8,Risk of Recidivism,-1.50,1,Low,New,...,0,0,0,0,1,0,0,0,0,0

In [26]:
df = df.drop('Screening_Date', axis=1)
df = df.drop('AssessmentType', axis=1)

df.head()

,DateOfBirth,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,IsCompleted,IsDeleted,...,Prison Inmate,Probation,Residential Program,Divorced,Married,Separated,Significant Other,Single,Unknown,Widowed
0,12/05/92,1,Low,7,Risk of Violence,-2.08,4,Low,1,0,...,0,0,0,0,0,0,0,1,0,0
1,12/05/92,1,Low,8,Risk of Recidivism,-1.06,2,Low,1,0,...,0,0,0,0,0,0,0,1,0,0
2,12/05/92,1,Low,18,Risk of Failure to Appear,15.00,1,Low,1,0,...,0,0,0,0,0,0,0,1,0,0
3,09/16/84,1,Low,7,Risk of Violence,-2.84,2,Low,1,0,...,0,0,0,0,1,0,0,0,0,0
4,09/16/84,1,Low,8,Risk of Recidivism,-1.50,1,Low,1,0,...,0,0,0,0,1,0,0,0,0,0

In [27]:
df = df.drop('RecSupervisionLevel', axis=1)
df = df.drop('RecSupervisionLevelText', axis=1)
df = df.drop('Scale_ID', axis=1)
df = df.drop('DisplayText', axis=1)
df = df.drop('RawScore', axis=1)
df = df.drop('IsCompleted', axis=1)
df = df.drop('IsDeleted', axis=1)

df.head()

,DateOfBirth,DecileScore,ScoreText,Male,African-Am,African-American,Arabic,Asian,Caucasian,Hispanic,...,Prison Inmate,Probation,Residential Program,Divorced,Married,Separated,Significant Other,Single,Unknown,Widowed
0,12/05/92,4,Low,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,12/05/92,2,Low,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,12/05/92,1,Low,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,09/16/84,2,Low,1,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,09/16/84,1,Low,1,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [28]:
'''now = pd.Timestamp('now')
df['DateOfBirth'] = pd.to_datetime(df['DateOfBirth'], format='%m/%d/%y')    # 1
df['DateOfBirth'] = df['DateOfBirth'].where(df['DateOfBirth'] < now, df['DateOfBirth'] -  np.timedelta64(100, 'Y'))   # 2
df['age'] = (now - df['DateOfBirth']).astype('<m8[Y]')
df = df.drop('DateOfBirth', axis=1)

df.head()'''

"now = pd.Timestamp('now')\ndf['DateOfBirth'] = pd.to_datetime(df['DateOfBirth'], format='%m/%d/%y')    # 1\ndf['DateOfBirth'] = df['DateOfBirth'].where(df['DateOfBirth'] < now, df['DateOfBirth'] -  np.timedelta64(100, 'Y'))   # 2\ndf['age'] = (now - df['DateOfBirth']).astype('<m8[Y]')\ndf = df.drop('DateOfBirth', axis=1)\n\ndf.head()"

In [29]:
df['age'] = 122 - df['DateOfBirth'].str[-2:].astype(int)
df = df.drop('DateOfBirth', axis=1)
df.head()

,DecileScore,ScoreText,Male,African-Am,African-American,Arabic,Asian,Caucasian,Hispanic,Native American,...,Probation,Residential Program,Divorced,Married,Separated,Significant Other,Single,Unknown,Widowed,age
0,4,Low,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,30
1,2,Low,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,30
2,1,Low,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,30
3,2,Low,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,38
4,1,Low,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,38

In [30]:
df[['DecileScore', 'ScoreText']].value_counts()

DecileScore  ScoreText
1            Low          18465
2            Low           9192
3            Low           8492
4            Low           5338
5            Medium        4831
6            Medium        4319
7            Medium        3338
8            High          2799
9            High          2386
10           High          1638
dtype: int64