In [94]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [95]:
df = pd.read_csv('./data/clean_data.csv')
df.head()

,DecileScore,Male,African-Am,African-American,Arabic,Asian,Caucasian,Hispanic,Native American,Oriental,...,Probation,Residential Program,Divorced,Married,Separated,Significant Other,Single,Unknown,Widowed,age
0,4,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,30
1,2,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,30
2,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,30
3,2,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,38
4,1,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,38

In [96]:
len(df)

60843

In [97]:
print('Male', df.loc[df['Male'] == 1].shape[0])
print('Female', df.loc[df['Male'] == 0].shape[0])

Male 47514
Female 13329

In [98]:
df_male = df.loc[df['Male'] == 1]
df_female = df.loc[df['Male'] == 0]

## Male Analysis

In [114]:
df_male.drop(df_male[df_male['DecileScore'] == -1].index, inplace=True)
df_male[['DecileScore']].value_counts()

/tmp/ipykernel_7377/3688230534.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_male.drop(df_male[df_male['DecileScore'] == -1].index, inplace=True)

DecileScore
1              13988
2               7094
3               6697
4               3912
5               3863
6               3410
7               2732
8               2378
9               1981
10              1424
dtype: int64

In [101]:
print(df_male[['African-Am']].value_counts())
df_male_african_am = df_male.loc[df_male['African-Am'] == 1]
df_male_african_am[['DecileScore', 'African-Am']].value_counts()

African-Am
0             47434
1                45
dtype: int64

DecileScore  African-Am
10           1             12
9            1              6
1            1              5
4            1              5
6            1              5
2            1              4
8            1              4
3            1              2
7            1              2
dtype: int64

In [111]:
print(df_male[['African-American']].value_counts())
df_male_african_american = df_male.loc[df_male['African-American'] == 1]
df_male_african_american[['DecileScore', 'African-American']].value_counts(normalize=True)

African-American
0                   26052
1                   21427
dtype: int64

DecileScore  African-American
1            1                   0.196714
3            1                   0.137350
2            1                   0.127456
5            1                   0.095114
6            1                   0.092220
4            1                   0.088440
7            1                   0.078686
8            1                   0.073599
9            1                   0.063751
10           1                   0.046670
dtype: float64

In [103]:
print(df_male[['Arabic']].value_counts())
df_male_arabic = df_male.loc[df_male['Arabic'] == 1]
df_male_arabic[['DecileScore', 'Arabic']].value_counts()

Arabic
0         47407
1            72
dtype: int64

DecileScore  Arabic
1            1         25
2            1         12
4            1         11
3            1          7
6            1          6
5            1          4
7            1          2
9            1          2
10           1          2
8            1          1
dtype: int64

In [104]:
print(df_male[['Asian']].value_counts())
df_male_asian = df_male.loc[df_male['Asian'] == 1]
df_male_asian[['DecileScore', 'Asian']].value_counts()

Asian
0        47212
1          267
dtype: int64

DecileScore  Asian
1            1        142
2            1         41
3            1         27
4            1         19
5            1         11
6            1          9
8            1          9
7            1          7
9            1          1
10           1          1
dtype: int64

In [112]:
print(df_male[['Caucasian']].value_counts())
df_male_caucasian = df_male.loc[df_male['Caucasian'] == 1]
df_male_caucasian[['DecileScore', 'Caucasian']].value_counts(normalize=True)

Caucasian
0            31142
1            16337
dtype: int64

DecileScore  Caucasian
1            1            0.358940
2            1            0.163616
3            1            0.144457
4            1            0.079880
5            1            0.073269
6            1            0.058334
7            1            0.043582
8            1            0.034462
9            1            0.026443
10           1            0.017017
dtype: float64

In [106]:
print(df_male[['Hispanic']].value_counts())
df_male_hispanic = df_male.loc[df_male['Hispanic'] == 1]
df_male_hispanic[['DecileScore', 'Hispanic']].value_counts()

Hispanic
0           40475
1            7004
dtype: int64

DecileScore  Hispanic
1            1           2692
2            1           1244
3            1           1079
4            1            487
5            1            477
6            1            347
7            1            257
8            1            175
9            1            143
10           1            103
dtype: int64

In [107]:
print(df_male[['Native American']].value_counts())
df_male_native = df_male.loc[df_male['Native American'] == 1]
df_male_native[['DecileScore', 'Native American']].value_counts()

Native American
0                  47320
1                    159
dtype: int64

DecileScore  Native American
1            1                  34
2            1                  25
3            1                  25
4            1                  22
6            1                  11
7            1                  11
8            1                  10
5            1                   9
10           1                   8
9            1                   4
dtype: int64

In [108]:
print(df_male[['Oriental']].value_counts())
df_male_oriental = df_male.loc[df_male['Oriental'] == 1]
df_male_oriental[['DecileScore', 'Oriental']].value_counts()

Oriental
0           47449
1              30
dtype: int64

DecileScore  Oriental
1            1           12
2            1            6
3            1            4
4            1            3
5            1            2
6            1            1
8            1            1
10           1            1
dtype: int64