In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('./propublica_data_for_fairml.csv')

print(len(df))

6172

In [9]:
df_white = df.loc[(df['African_American'] == 0)
                  & (df['Hispanic'] == 0)
                  & (df['Asian'] == 0)
                  & (df['Native_American'] == 0)
                  & (df['Other'] == 0)]

df_non_white = df.loc[(df['African_American'] == 1)
                      | (df['Hispanic'] == 1)
                      | (df['Asian'] == 1)
                      | (df['Native_American'] == 1)
                      | (df['Other'] == 1)]
print(len(df_white))
print(len(df_non_white))

2103
4069

In [10]:
df_white.insert(5, 'Caucasian', '1')
df_non_white.insert(5, 'Caucasian', '0')
df_non_white.head()

,Two_yr_Recidivism,Number_of_Priors,score_factor,Age_Above_FourtyFive,Age_Below_TwentyFive,Caucasian,African_American,Asian,Hispanic,Native_American,Other,Female,Misdemeanor
0,0,0,0,1,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,1,0,0,0,0,0,0
2,1,4,0,0,1,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0,1
5,0,3,0,0,0,0,0,0,0,0,1,0,0

In [13]:
df = pd.concat([df_white, df_non_white])
df.head()

,Two_yr_Recidivism,Number_of_Priors,score_factor,Age_Above_FourtyFive,Age_Below_TwentyFive,Caucasian,African_American,Asian,Hispanic,Native_American,Other,Female,Misdemeanor
4,1,14,1,0,0,1,0,0,0,0,0,0,0
6,0,0,0,0,0,1,0,0,0,0,0,1,1
7,0,0,0,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,1,0,0,0,0,0,1,1
11,1,1,0,1,0,1,0,0,0,0,0,1,0

In [16]:
df.to_csv('./data/data_with_caucasian.csv', index=False)